# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略 documents 目录（存储上传的文档）
/documents/**

# 忽略 chroma 向量数据库目录
/chroma/**

# 临时文件夹
/_temp/

/target/**

# 数据库文件
*.db

# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 虚拟环境
venv/